* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(notes.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    float: center;
    margin-top: 70px;
    margin-left:550px;
    padding-top: 50px;
    color:black;
}
.container {
    margin-top: 40px;
    margin-left:450px;
    padding-top: 20px;
}
#inputfield {
    border: 2px solid black;
    font-size: 20px;
    vertical-align: middle;
}
#addToDo {
    font-size: 20px;
    border: 2px solid black;
    vertical-align: middle;
}
.todos {
    margin-top: 25px;
}
.paragraph-styling {
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}
